<link rel="stylesheet" type="text/css" href="/stylesheet/slideshow-style.css"/>
<script type="text/javascript" src="/javascript/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/javascript/jquery-ui-1.7.2.custom.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#featured").tabs({fx: [
            {opacity: "toggle", duration: 'slow'},
            {opacity: "toggle", duration: 'normal'}
        ],
            show: function (event, ui) {
                $('#featured .ui-tabs-panel .info').hide();
                var infoheight = $('.info', ui.panel).height();
                $('.info', ui.panel).css('height', '0px').animate({ 'height': infoheight }, 500);
            }
        }).tabs("rotate", 5000, true);
        $('#featured').hover(
                function () {
                    $('#featured').tabs('rotate', 0, true);
                },
                function () {
                    $('#featured').tabs('rotate', 5000, true);
                }
        );
        $('#featured .ui-tabs-panel a.hideshow').click(function () {
            if ($(this).text() == 'Hide') {
                $(this).parent('.info').animate({ 'height': '0px' }, 500);
                $(this).text('Show');
            }
            else {
                $(this).parent('.info').animate({ 'height': '70px' }, 500);
                $(this).text('Hide');
            }
            return false;
        });
    });
</script>

<div id="featured">
  <ul class="ui-tabs-nav">
    <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1">
      <a href="#fragment-1"><img src="/images/home-slideshow/image1-small.jpg" alt=""/><span>15+ Excellent High Speed Photographs</span></a>
    </li>
    <li class="ui-tabs-nav-item" id="nav-fragment-2">
      <a href="#fragment-2"><img src="/images/home-slideshow/image2-small.jpg" alt=""/><span>20 Beautiful Long Exposure Photographs</span></a>
    </li>
    <li class="ui-tabs-nav-item" id="nav-fragment-3">
      <a href="#fragment-3"><img src="/images/home-slideshow/image3-small.jpg" alt=""/><span>35 Amazing Logo Designs</span></a>
    </li>
    <li class="ui-tabs-nav-item" id="nav-fragment-4">
      <a href="#fragment-4"><img src="/images/home-slideshow/image4-small.jpg" alt=""/><span>Create a Vintage Photograph in Photoshop</span></a>
    </li>
    <li class="ui-tabs-nav-item" id="nav-fragment-5">
      <a href="#fragment-5"><img src="/images/home-slideshow/image1-small.jpg" alt=""/><span>15+ Excellent High Speed Photographs</span></a>
    </li>
    <li class="ui-tabs-nav-item" id="nav-fragment-6">
      <a href="#fragment-6"><img src="/images/home-slideshow/image2-small.jpg" alt=""/><span>20 Beautiful Long Exposure Photographs</span></a>
    </li>
    <!--li class="ui-tabs-nav-item" id="nav-fragment-7"><a href="#fragment-7"><img src="/images/home-slideshow/image2-small.jpg" alt="" /><span>20 Beautiful Long Exposure Photographs</span></a></li-->
  </ul>

  <!-- First Content -->
  <div id="fragment-1" class="ui-tabs-panel" style="">
    <img src="/images/home-slideshow/image1.jpg" alt=""/>

    <div class="info">
      <a class="hideshow" href="#">Hide</a>

      <h2><a href="#">15+ Excellent High Speed Photographs</a></h2>

      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem
        ipsum dolor sit amet...</p>

      <p class="links">

        <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
        <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
        <a class="art-button" href="#">Share</a>
      </p>
    </div>
  </div>

  <!-- Second Content -->
  <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
    <img src="/images/home-slideshow/image2.jpg" alt=""/>

    <div class="info">
      <a class="hideshow" href="#">Hide</a>

      <h2><a href="#">20 Beautiful Long Exposure Photographs</a></h2>

      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem
        ipsum dolor sit amet...</p>

      <p class="links">

        <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
        <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
        <a class="art-button" href="#">Share</a>
      </p>
    </div>
  </div>

  <!-- Third Content -->
  <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
    <img src="/images/home-slideshow/image3.jpg" alt=""/>

    <div class="info">
      <a class="hideshow" href="#">Hide</a>

      <h2><a href="#">35 Amazing Logo Designs</a></h2>

      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem
        ipsum dolor sit amet...</p>

      <p class="links">

        <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
        <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
         <a class="art-button" href="#">Share</a>
      </p>
    </div>
  </div>

  <!-- Fourth Content -->
  <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
    <img src="/images/home-slideshow/image4.jpg" alt=""/>

    <div class="info">
      <a class="hideshow" href="#">Hide</a>

      <h2><a href="#">Create a Vintage Photograph in Photoshop</a></h2>

      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem
        ipsum dolor sit amet...</p>

      <p class="links">

        <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
        <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
        <a class="art-button" href="#">Share</a>
      </p>
    </div>
  </div>

  <!-- fifth Content -->
  <div id="fragment-5" class="ui-tabs-panel ui-tabs-hide" style="">
    <img src="/images/home-slideshow/image1.jpg" alt=""/>

    <div class="info">
      <a class="hideshow" href="#">Hide</a>

      <h2><a href="#">Create a Vintage Photograph in Photoshop</a></h2>

      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem
        ipsum dolor sit amet...</p>

      <p class="links">

        <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
        <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
       <a class="art-button" href="#">Share</a>
      </p>
    </div>
  </div>


  <!-- sixth Content -->
  <div id="fragment-6" class="ui-tabs-panel ui-tabs-hide" style="">
    <img src="/images/home-slideshow/image2.jpg" alt=""/>

    <div class="info">
      <a class="hideshow" href="#">Hide</a>

      <h2><a href="#">Create a Vintage Photograph in Photoshop</a></h2>

      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem
        ipsum dolor sit amet...</p>

      <p class="links">

        <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
        <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
         <a class="art-button" href="#">Share</a>
      </p>
    </div>
  </div>

  <!-- seventh Content -->
  <!--div id="fragment-7" class="ui-tabs-panel ui-tabs-hide" style="">
    <img src="/images/home-slideshow/image3.jpg" alt="" />
    <div class="info" >
      <a class="hideshow" href="#" >Hide</a>
      <h2><a href="#" >35 Amazing Logo Designs</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus.Lorem ipsum dolor sit amet...</p>
    <p>

      <a class="art-button" href="#">More</a> <a class="art-button" href="#">Print</a>
      <a class="art-button" href="#">Email</a> <a class="art-button" href="#">Save</a>
       <a class="art-button" href="#">Share</a>
    </p>
    </div>
  </div-->


</div>


