
<%= will_paginate @ads %>

<div class="active_deals">

  <% begin
     if index_scope == "creator" && user_signed_in?
       #puts "ad index scope #{index_scope}  ,  #{current_user.id}"
     else
       #puts "ad index scope is chosen PUBLIC"
  %>
      <%= render :partial =>"ads/ad_search"%>
  <% end
     rescue NameError
       #puts "ad index scope is chosen PUBLIC"
     end
  %>

  <% @ads.each do |ad|  %>

    <%= render :partial => "ads/ad_tiny", :locals => {:ad => ad} %>

  <% end %>

</div>

<div class="cleared"></div>
<%= will_paginate @ads %>

