<br/>
<br/>
<br/>


<p id="notice"><%= notice %></p>
<table>
  <tbody>
  <tr>
    <td>
      <%= render :partial => "ads/ad_content" , :locals => { :display_mode => "detailed", :ad => @ad}  %>
    </td>

    <td>
      <%= render :partial => "ads/ad_associated" , :locals => { :main_ad => @ad }  %>
    </td>
  </tr>
  </tbody>
</table>

