<div class="art-sheet clearfix">
  <div class="art-layout-wrapper">
    <div class="art-content-layout">
      <div class="art-content-layout-row">

        <!-- Start: header -->
        <!--%= render "/common/quicklink" %-->
        <!-- End: header -->

        <div class="art-layout-cell art-content">
          <article class="art-post art-article">
            <!--Start : add left menu here -->

            <%= render :partial => "business_items/business_item_search" %>

            <!--h1>Nearby Business</h1-->

            <div id="business_items">

              <%= render 'business_items/business_items' %>
            </div>


            <!--End : add left menu here -->
          </article>
        </div>
        <!-- Start: footer -->
        <!--%= render "/common/right" %-->
        <!-- End: footer -->


      </div>
    </div>
  </div>
</div>