
<br/>

<div id="companies_list">
  <% @companies = Company.where("user_id = ? ", current_user.id).paginate(:per_page => 4, :page => params[:page]) %>

  <% @companies.each do |company| %>

      <%= render :partial =>"companies/company", :locals => {:company => company} %>

  <% end %>
  <div style="clear:both;"></div>
</div>