
<div class="art-sheet clearfix">
  <div class="art-layout-wrapper">
    <div class="art-content-layout">
      <div class="art-content-layout-row">

        <!-- Start: header -->

        <!-- End: header -->

        <div class="art-layout-cell art-content">
          <article class="art-post art-article">



<h1>Companies Name Directory</h1>
<br/>

<div id="companylist">
  <% @companies.each do |company| %>

                <%= render :partial =>"companies/company", :locals => {:company => company} %>

  <% end %>
</div>
          </article>
        </div>
        <!-- Start: footer -->
        <!--%= render "/common/right" %-->
        <!-- End: footer -->


      </div>
    </div>
  </div>
</div>