<button class="btn" type="button">City</button>
<div class="dropdown">
    <!-- Link or button to toggle dropdown -->
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Brampton</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ontario</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vancover</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Winnipeg</a></li>
    </ul>
  </div>
<!--<div class="dropdown">-->
<!--<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">-->
<!--City<b class="caret"></b>-->
<!--</a>-->
<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
<!--<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Brampton</a></li>-->
<!--<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Ontario</a></li>-->
<!--<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Vancover</a></li>-->
<!--<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Winnipeg</a></li>-->
<!--</ul>-->
<!--</div>-->
