<ul id="languages" class="f-dropdown content" data-dropdown-content="" style="position: absolute; top: 1302.59375px; left: -99999px;">
  <li><a href="#">English</a></li>
  <li><a href="#">Spanish</a></li>
  <li><a href="#">French</a></li>
</ul>
Set <%= link_to "Language","/info/business_page_1", :style=>"text-decoration: underline"%> ?

