<footer class="art-footer">
  <div class="art-footer-inner">
    <div class="art-content-layout">
      <div class="art-content-layout-row">
        <div class="art-layout-cell" style="width: 100%">
          <table class="art-article" style="width: 100%; ">
            <tbody>
            <tr>
              <td style="width: 25%; ">
                <h3>Company</h3>
                <ul>
                  <li style="text-align: left;">Home</li>
                  <li style="text-align: left;"><a href="/companies">Companies</a></li>
                  <li style="text-align: left;"><a href="/ads">Offers</a></li>
                  <li style="text-align: left;"><a href="/business_items/">Business Listing</a></li>
                  <li style="text-align: left;">About us</li>
                  <li style="text-align: left;">Contact</li>
                </ul>
              </td>
              <td style="width: 25%; ">
                <h3>Business</h3>
                <ul>
                  <li><a href="#">Get Featured</a></li>
                  <li><a href="#">Suggest a Business</a></li>
                  <li><a href="#">Why Bizlocator?</a></li>
                  <li><a href="#">Affiliate Program</a></li>
                  <li><a href="#">Partners</a></li>
                </ul>
              </td>
              <td style="width: 25%; "><h3>Testimonials</h3>

                <p style="text-align: left; ">Links

                  Aenean rhoncus leo ut eros
                  Consectetur adipiscing elit
                  Lorem ipsum dolor sit amet
                  Pellentesque vel est ut leo
                  Sed fringilla...</p>

                <p style="text-align: left; ">Read More...</p></td>
              <td style="width: 25%; ">
                <h3>Reach us</h3>

                <p style="text-align: left;">
                  <b>Email</b> : care@bizlocator.ca
                  <br/><b>Phone</b> : 823-999-9090
                  <br/><b>Fax</b> : 823-999-9090
                  <br/>address, street, city , pin, country
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="art-content-layout">
      <div class="art-content-layout-row">
        <div class="art-layout-cell" style="width: 25%">
          <p><br></p>
        </div>
        <div class="art-layout-cell" style="width: 25%">
          <p><br></p>
        </div>
        <div class="art-layout-cell" style="width: 25%">
          <p><br></p>
        </div>
        <div class="art-layout-cell" style="width: 25%">
          <p><br></p>
        </div>
      </div>
    </div>
    <div class="art-content-layout">
      <div class="art-content-layout-row">
        <div class="art-layout-cell" style="width: 100%">
          <p>Copyright © 2013. All Rights Reserved. bizlocator.com</p>
        </div>
      </div>
    </div>

  </div>
</footer>