<div class="row-fluid">
  <div class="span12">
    <div class="btn-group">
      <a href="#"><img src="/images/facebook.png" alt="Facebook"/></a>
      <a href="#"><img src="/images/twitter.png" alt="Twitter"/></a>
      <a href="#"><img src="/images/linkedin.png" alt="Linkedin"/></a>
      <button class="btn" type="button"></button>
    </div>
    <!--<script type="text/javascript" src="jquery-latest.js"></script>-->
    <!--<script type="text/javascript" src="bootstrap.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--//      $(document).ready(function () {-->
    <!--//          $('.dropdown-toggle').dropdown();-->
    <!--//      });-->
    <!--</script>-->

    <%= link_to "View All Categories","/info/business_page_1", :style=>"font-size:10px; color:#fffff" %>



  </div>
<!--        AAAAAAAAAAAA -->
</div>
