<div class="art-layout-cell art-sidebar1">
  <div class="art-vmenublock clearfix">
    <div class="art-vmenublockheader">
      <h3 class="t">VMenu</h3>
    </div>
    <div class="art-vmenublockcontent">
      <ul class="art-vmenu">
        <li><a href="home.html" class="active">Home</a>
          <ul class="active">
            <li><a href="home/new-page.html">Subpage 1</a></li>
            <li><a href="home/new-page-2.html">Subpage 2</a></li>
            <li><a href="home/new-page-3.html">Subpage 3</a></li>
          </ul>
        </li>
        <li><a href="blog.html">Blog</a></li>
      </ul>

    </div>
  </div>
  <div class="art-block clearfix">
    <div class="art-blockheader">
      <h3 class="t">Spolight</h3>
    </div>
    <div class="art-blockcontent"><p><img width="192" height="182" alt="" src="images/shutterstock_28649449.jpg"></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet.<br><br></p>

      <p><a href="#">Read more...</a></p></div>
  </div>
  <div class="art-block clearfix">
    <div class="art-blockheader">
      <h3 class="t">Follow Us</h3>
    </div>
    <div class="art-blockcontent"><p>
      <img width="64" height="64" alt="" src="images/Rss_65.png">&nbsp;<img width="64" height="64" alt="" src="images/Facebook_65.png">&nbsp;<img width="64" height="64" alt="" src="images/Twitter_64.png">
    </p></div>
  </div>
  <div class="art-block clearfix">
    <div class="art-blockheader">
      <h3 class="t">Block</h3>
    </div>
    <div class="art-blockcontent"><p>Enter Block content here...</p>
      <br>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi
        erat iaculis nibh, vitae feugiat sapien ante eget mauris.</p></div>
  </div>
</div>