<div class="btn-group" style="color: #ffffff">
  <button class="btn btn-small btn-primary"  type="button"><a href="/info/home" >Home</a></button>
  <button class="btn btn-small btn-primary"  type="button"><a href="#" >City</a></button>
  <button class="btn btn-small btn-primary"  type="button"><%= link_to "Jobs", "jobs_path" %></button>
  <button class="btn btn-small btn-primary"  type="button"><%= link_to "Businesses Around Me", "business_items_path"  %></button>
  <button class="btn btn-small btn-primary"  type="button"><%= link_to "Entertainment", "shopping_malls_path" %></button>
  <button class="btn btn-small btn-primary"  type="button"><%= link_to "Rewards", "shopping_malls_path" %></button>
</div>