<style>
    .btn.btn-small.btn-primary.main-bar-button{
        font-size:16px;
        color:#000000;
        background-color:#E9F4FF;
        background-image: -webkit-linear-gradient(top, rgb(0, 0, 127), rgb(0, 0, 127));
    }
</style>
<div class="row-fluid">
  <div class="button-bar">
    <div class="btn-group" style="width:100%">
      <button class="btn btn-small btn-primary main-bar-button"><%= link_to "Sales-Deals-Flyers-Coupons-Group Buys-All Business", "jobs_path"  %> </button>
       <button class="btn btn-small btn-primary main-bar-button"><%= link_to "View The Malls", "shopping_malls_path"  %> </button>
       <button class="btn btn-small btn-primary main-bar-button"><%= link_to "Save List 10", "shopping_malls_path" %> </button>
       <button class="btn btn-small btn-primary main-bar-button"><%= link_to "Todays Points", "shopping_malls_path" %> </button>
    </div>
  </div>
</div>