<div class="row-fluid">
  <div class="button-bar">
    <div class="btn-group" style="width:100%">
      <li style="width:40%"><%= link_to "Sales-Deals-Flyers-Coupons-Group Buys-All Business", "jobs_path", :class=>"small button" ,:style => "font-size:10px;width:100%;color:#000000;background-color:#E9F4FF"  %></li>
      <li style="width:20%"><%= link_to "View The Malls", "shopping_malls_path" , :style => "font-size:10px;color:#000000;background-color:#E9F4FF;width:100%"   %></li>
      <li style="width:20%"><%= link_to "Save List 10", "shopping_malls_path" ,:style => "font-size:10px;color:#000000;background-color:#E9F4FF;width:100%"  %></li>
      <li style="width:20%"><%= link_to "Todays Points", "shopping_malls_path", :class => "small button"   ,:style => "font-size:10px;color:#000000;background-color:#E9F4FF;width:100%"  %></li>
    </div>
  </div>
</div>