<div class="navbar">
  <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/info/home" >Home</a></li>
        <li><a href="#" >City</a></li>
        <li><%= link_to "Jobs", "jobs_path" %></li>
        <li><%= link_to "Businesses Around Me", "business_items_path"  %></li>
        <li><%= link_to "Entertainment", "shopping_malls_path" %></li>
        <li><%= link_to "Rewards", "shopping_malls_path" %></li>
    </ul>
  </div>
</div>
