<div class="row-fluid">
  <%= render :partial => "ads/ad_slider_dynamic", :locals => {:adcount => "4"} %>
  <%= render :partial => "ads/ad_slider_dynamic_Carousel", :locals => {:adcount => "4"} %>
</div>
